Telegram AI-bot.json
{
  "name": "Telegram AI-bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "7bdff822-1a52-44b2-93da-14092d3f5042",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -1232,
        272
      ],
      "webhookId": "51942fbb-ca0e-4ec4-9423-5fcc7d3c4281",
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message?.text }}",
        "rules": {
          "rules": [
            {
              "operation": "startsWith",
              "value2": "การเรียน"
            },
            {
              "operation": "startsWith",
              "value2": "/start",
              "output": 1
            },
            {
              "operation": "startsWith",
              "value2": "=/image ",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "b07e4f69-947c-41a4-beb9-bac433010c11",
      "name": "CheckCommand",
      "type": "n8n-nodes-base.switch",
      "position": [
        -48,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Error fallback for unsupported commands",
        "height": 231.22373949579838,
        "width": 316.1071428571428
      },
      "id": "78031f84-f590-4d89-a511-9f8319a331f1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "model_temperature",
              "value": 0.8
            },
            {
              "name": "token_length",
              "value": 500
            }
          ],
          "string": [
            {
              "name": "system_command",
              "value": "=You are a friendly chatbot. User name is {{ $json?.message?.from?.first_name }}. User system language is {{ $json?.message?.from?.language_code }}. First, detect user text language. Next, provide your reply in the same language. Include several suitable emojis in your answer."
            },
            {
              "name": "bot_typing",
              "value": "={{ $json?.message?.text.startsWith('/image') ? \"upload_photo\" : \"typing\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c0649529-8db7-4cc2-b7bb-7c53d089ff9b",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        -864,
        592
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "ปัญหาด้านการเรียน/เกรด/การพ้นสภาพ\n",
        "height": 233,
        "width": 330.5019024637719
      },
      "id": "128d57d0-db09-4be3-829f-55c54e2d4a62",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Welcome message\n### /start",
        "height": 219.892857142857,
        "width": 330.7863484403046
      },
      "id": "e9294f34-d5f3-45c6-bb6a-8df77ff523ba",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4.1-mini",
        "prompt": {
          "messages": [
            {
              "role": "assistant",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "0243b77a-f1b0-46ad-87eb-5c70caaa63f0",
      "name": "Chat_mode",
      "type": "n8n-nodes-base.openAi",
      "position": [
        320,
        80
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "9oAbD23xkxDEVWKe",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "=This is the first message from a user. Please welcome a new user in `{{ $json.message.from.language_code }}` language"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "32132eca-c2a2-4b94-a23b-04cabb0e7edb",
      "name": "Greeting",
      "type": "n8n-nodes-base.openAi",
      "position": [
        320,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a020cf88-5f02-4d77-be56-6899d947095e",
      "name": "Text reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        672,
        208
      ],
      "typeVersion": 1,
      "webhookId": "0f58012c-4e30-4c45-8e5d-9807561e9ce0"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.from.id }}",
        "action": "={{ $json.bot_typing }}"
      },
      "id": "81b8b047-e980-4b9d-b946-3b542521b63a",
      "name": "Send Typing action",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -688,
        288
      ],
      "typeVersion": 1,
      "webhookId": "1fb30682-b620-4b1c-a13d-bafe074a9249",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "0b122550-afb8-4f6f-a0d2-5531a6898e8f",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -240,
        608
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Create an image\n### /image + request",
        "height": 233.8785714285713,
        "width": 329.7428571428562
      },
      "id": "fcdb9366-eb9c-4fc7-9269-35c1101a2fd6",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.message.text.split(' ').slice(1).join(' ') }}",
        "responseFormat": "imageUrl",
        "options": {
          "n": 1,
          "size": "512x512"
        },
        "requestOptions": {}
      },
      "id": "e2107882-41cd-4b1a-89e7-3942b7508b32",
      "name": "Create an image",
      "type": "n8n-nodes-base.openAi",
      "position": [
        320,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Sorry, {{ $json.message.from.first_name }}! This command is not supported yet. Please type some text to a chat bot or try this command:\n/image \\[your prompt]\n\nEnter the command, then space and provide your request. Example:\n\n`/image a picture or a cute little kitten with big eyes. Miyazaki studio ghibli style`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "649022af-211b-4aec-9d94-bfc215b73782",
      "name": "Send error message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        672,
        912
      ],
      "typeVersion": 1,
      "webhookId": "b9d587c0-ec7c-49d4-8b42-8d6b60b51e5e"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "file": "={{ $json.url }}",
        "additionalFields": {}
      },
      "id": "50ed4146-34c5-4d98-a964-f3d1bce3efae",
      "name": "Send image",
      "type": "n8n-nodes-base.telegram",
      "position": [
        672,
        608
      ],
      "typeVersion": 1,
      "webhookId": "ec2d5ad0-0cc7-42f9-a144-673f0bec4232"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "สู้สุดใจนะจ้ะ",
              "value": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "9291aac2-d0f9-4c45-8cfe-52e891327faa",
      "name": "PreProcessing",
      "type": "n8n-nodes-base.set",
      "position": [
        -1040,
        592
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1264,
        592
      ],
      "id": "4edeca63-b8f7-4d2b-8422-97dc77f3adc6",
      "name": "When chat message received",
      "webhookId": "9d7881d2-f3df-4365-98ce-4f3903955918"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1264,
        784
      ],
      "id": "d87662c2-da13-424c-8aa2-26e21950064a",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "nV2Lv9nOYHDCXK7y",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "CheckCommand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat_mode": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckCommand": {
      "main": [
        [
          {
            "node": "Chat_mode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreProcessing": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an image": {
      "main": [
        [
          {
            "node": "Send image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        []
      ]
    },
    "Send Typing action": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "PreProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "PreProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9dd442e7-91c7-4544-90ae-423dae6fad57",
  "meta": {
    "instanceId": "d6c72647cc7adc2a100039f3d823153d73d63888d830050a467ba257752b3aba"
  },
  "id": "YcPMnylugzW4707Q",
  "tags": [
    {
      "createdAt": "2025-10-07T10:03:46.579Z",
      "updatedAt": "2025-10-07T10:03:46.579Z",
      "id": "UEnPGU4Ww5CFKCsK",
      "name": "tutorial"
    }
  ]
}